* {
    box-sizing: border-box;
    font-family: cursive;
}
span , a, label {
    display: inline-block;
}
body {
    margin: 0;
}
@mixin df( $align,$content) {
    display: flex;
    flex-wrap: wrap;
    align-items: $align;
    justify-content: $content;
}
.a {
    padding: 7px;
    border-radius: 0 0 7px 7px;
    padding-top: 45px;
    color: #163561;
    text-decoration: none;
    &:hover {
    color: white;
    background-color: #A3C1EF;
    cursor: pointer;
    }
}
.as {
    width: 30%;
    @include df(center,space-between);
}
.df {
    max-width: 1100px;
    margin: 0 auto;
    @include df(center,space-between);
}
.imgs {
    width: 30%;
    height: 100%;
    @include df(center,space-between);
}
.btn {
    padding: 15px 30px;
    background-color: #A3C1EF;
    border: none;
    border-radius: 20px;
    color: white;
    margin-top: 20px;
}
.box {
    padding: 40px 60px;
    @include df(flex-start,space-between);
}
.div {
    width: 45%;
}
.spn {
    color: #FBB400;
}
.p2 {
    color: #677B98;
}
.h1 {
    font-size: 40px;
    color: #163561;
}
.tx {
    text-align: center;
}
.db {
    display: block;
}
.p {
    color: #657A98;
}
.div2 {
    width: 28%;
    padding: 50px 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 10px 0 0 #99BAED;
    &:hover {
        background: #99BAED;
        cursor: pointer;
    }
    &:hover p {
        color: #DBE7F9;
    }
    &:hover h1 {
        color: white;
    }
}
.pd {
    padding: 20px;
}
.center {
    text-align: center;
}
.box3 {
    position: relative;
    max-width: 1100px;
    margin: auto;
}
.img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: -82px;
}
.box4 {
    max-width: 1100px;
    margin: 10px auto;
    padding: 10px 0;
    text-align: center;
    margin-top: 50px;
    border-bottom: 2px solid #99BAED;
}
.w {
    max-width: 400px;
    margin: 30px auto;
}
@import 'media';